.container{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  grid-template-areas:
  ". img ."
  "github img linkedin"
  ". img .";
  text-align: center;
  font-size: 1.25rem;
  height: 30rem;
  width: 70rem;
  position: relative;
  margin: auto;
}

#img{
grid-area: img;
position: absolute;
height: 100%;
width: 100%;
border: .5rem outset #222020;
border-radius: 50%;
margin: auto;
object-fit: fill;
}

.links a{
  color:#61aa61;
  text-shadow: 4px 4px 2px #000;
  text-decoration: none;
}

#github {
grid-area: github;
}

#linkedin {
grid-area:linkedin;
}
