.container{
  position: relative;
  display: grid;
  grid-template-columns: repeat(3,1fr);
  width:90%;
  margin: 7rem auto;
}

video{
  position:relative;
  margin:auto;
  width:45vh;
}

#img{
border: .5rem outset #222020;
border-radius: 50%;
}

#github:after{
  display: flex;
  justify-content: center;
  align-items: center;
  color: #447844;
  font-family: FontAwesome;
  font-size: 15vw;
  content: '\f09b';
}

#linkedin:after{
  display: flex;
  justify-content: center;
  align-items: center;
  color:#447844;
  font-family: FontAwesome;
  font-size: 15vw;
  content: '\f08c';
}



