i{
  font-size: 1em;
  margin: 5px;
}

a{
  color: #eac67a;
}
.text {
  font-size: .7em;
  color:#cccccc;
}

.container{
  display: grid;
  grid-template-columns:repeat(2,1fr);
  justify-content: space-evenly;
  align-content:center;
  position: center;
  margin:20px 300px auto;
}

figure img{
  position: center;
  justify-content: center;
  align-content:center;
  border: 2px outset #eac67a;
  border-radius: 50%;
  margin: auto;
  width:20em;
}

#intro{
  justify-content: center;
  align-content:center;
  margin:auto 30px auto;
  color: #984b43;
  text-shadow: 1px 1px 1px #000;
  font-size: 2em;
  padding-bottom: 50px;
}

.hello {
  font-size: xx-large;
  color:#eac67a;
}

@media only screen and (max-width: 720px){
  .container{
    margin-top: 20vh;
  }
}
@media only screen and (max-width: 537px){
  .container{
    margin: 20vh auto;
    display: inline-block;
    justify-content: center;
  }

  figure img{
  width: 15em;
  }

}



