<div class="container">
    <div id="intro">
      <h1>Steven Beard</h1> <h3>Software Developer</h3>
      <p class="text"><strong style="color: #984b43">Languages/Tech:</strong><br>Java, Angular, Python, HTML/CSS<br>
       Javascript, Typescipt, MYSQL<br> PostgreSQL, Linux, Docker<br> NGINX, AWS, Chart.js, D3.js
      </p>

      <p class="text">
        <span class="hello">Hello,</span> I am developer who strives to learn something new everday. Currently looking for a 
        position that will allow me to learn and grow.  
      </p>
      <a href="https://linkedin.com/in/steven-beard"><i class="fab fa-linkedin-square"></i></a> <a href="https://github.com/etacalpha"> <i class="fab fa-github-square"></i></a>
    </div>
  <figure class="figure1">
    <img
      class="figure-img"
      src="../../assets/images/TEpicture.png"
      alt="developer with beard"
    />
  </figure>
  </div>

