<div class="container">
    <div id="intro">
      <h1>Steven Beard</h1> <h3>Software Developer</h3>
      <p><strong style="color: #984b43">Languages/Tech:</strong><br>Java, Angular, Python, HTML/CSS<br>
       javascript, typescipt, MYSQL<br> PostgresSQL, H2, Linux, Docker<br> NGINX
      </p>

      <p>
        <span class="hello">Hello,</span> I am a junior developer who recently completed Tech
        Elevator coding boot camp. I am striving to learn something new everyday. Stay tuned as this
        website will update often.
      </p>
      <a href="www.linkedin.com/in/steven-beard"><i class="fab fa-linkedin-square"></i></a> <a href="https://github.com/etacalpha"> <i class="fab fa-github-square"></i></a>
    </div>
  <video autoplay loop id="img">
    <source id ="video" src="../../assets/images/ezgif.com-gif-maker.mp4" type="video/mp4"/>
  </video>
  </div>

