header{
  position: relative;
  text-align: center;
  font-size: 1.5vw;
  text-shadow: 1px 1px 1px #000;
  top:-100px;
}

#main{
  display: grid;
  position: relative;
  grid-template-columns: 1fr 1fr;
  grid-auto-rows: auto;
  grid-template-areas:
    "tech img"
    "description img";
  grid-column-gap: 2vw;
  grid-row-gap: 2vw;
  width:95%;
  margin: auto;
  padding: 15px;
  font-size: .9rem;
  text-shadow: 1px 1px 1px #000;
  line-height: 1.5rem;
  top:-100px;
}

.title{
  color: #0F9E5E;
}
.info{
  color: #5a9f2f;
}


#tech{
  grid-area: tech;

}

#description{
  grid-area: description;

}

#image{
  display: flex;
  align-items: center;
  justify-content: center;
  grid-row-start: 1;
  grid-row-end: 3;
  grid-area:img;
  align-self: center;

}

#image img{
  width: 70vw;
  border: 1px outset black;
}


@media screen and (max-width: 400px){

  #main{
    display: grid;
    position: relative;
    grid-auto-rows: auto;
    grid-template-columns: auto;
    grid-template-areas:
      "tech"
      "description"
      "img";
    grid-row-gap: 5vw;
    width:100%;
    margin: auto;
    padding: 1vw;
    font-size: .20rem;
  }

  #image img{
    position: relative;
    width: 90%;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    border: solid 1px #fff;

  }
  #img {
    border: solid 1px #fff;
  }

}
