.container{
  position: relative;
  width:50%;
  margin-top: 27vh;
  left: 50%;
  transform: translate(-50%, -10%);
  background-color: #233237;
}

form{
  display: grid;
  grid-template-rows: repeat(4,1fr);
  grid-row-gap: .5vw;
  padding:2vw;
  text-shadow: 1px 1px 1px #000;
  border: 2px outset #984b43;
  color: #c6a867;



}

label {
  display:inline-block;
  *display: inline;     /* for IE7*/
  zoom:1;              /* for IE7*/
  float: left;
  padding: 5px;
  text-align: left;
  width: 25%;
}
input{
  width:70%;
  background-color: #cccccc;

}
textarea{
  margin-top: 5px;
  margin-bottom: 5px;
  display:inline-block;
  *display: inline;     /* for IE7*/
  zoom:1;              /* for IE7*/
  vertical-align:middle;
  margin-left:20px;
  width: 95%;
  height: 20vw;
  background-color: #cccccc;
}

button{
  height:35px;
}

@media only screen and (max-width : 1000px) {

  .container{
    width:50%;

  }

  form{
    display: grid;
    grid-template-rows: repeat(4,1fr);
    grid-row-gap: 1vw;
    padding:2vw;
    border: 20px #c6a867;

  }

  label {
    display:inline-block;
    *display: inline;     /* for IE7*/
    zoom:1;              /* for IE7*/
    float: left;
    padding-top: 5px;
    text-align: left;
    width: 20%;
  }
  textarea{
    margin-top: 5px;
    margin-bottom: 5px;
    display:inline-block;
    *display: inline;     /* for IE7*/
    zoom:1;              /* for IE7*/
    vertical-align:middle;
    margin-left:20px;
    width: 90%;
    height: 20vw
  }
}
@media only screen and (max-width : 700px) {
  .container{
    width:90%;
  }
  textarea{
    width:90%;

  }
  label{
    width:25%;
  }
}



