section{
  position: relative;
  margin: 40vh auto;
}
#container{
  width:75%;
  display: grid;
  grid-template-columns:repeat(5, 1fr);
  grid-auto-rows: auto;
  grid-template-areas:
    ". bill billr billr ."
    ". toby tobyr tobyr ."
    ". james jamesr jamesr .";
  grid-row-gap: 80px;
  grid-column-gap: 20px;
}

.title{
  color: #56b748;
  position: relative;
  vertical-align: center;
  font-size: x-large;
  text-shadow: 1px 1px 1px #000;
  font-weight: 500;
  padding-bottom: 50px;
}

.title span{
  color: #9baa50;
}

.title img{
  height: 12vw;
}

.description{
  font-size: large;
  color: #61aa61;
  text-shadow: 1px 1px 1px #000;
}

#bill{
  grid-area: bill;
}

#billr{
  grid-area: billr;
}

#toby{
  grid-area: toby;
}
#tobyr{
  grid-area: tobyr;
}

#james{
  grid-area: james;
}
#jamesr{
  grid-area: jamesr;
}

@media only screen and (max-width : 400px) {

  #container{
    grid-row-gap: 1px;
    grid-column-gap: 20px;
    grid-template-columns:repeat(3, 1fr);
    grid-template-areas:
      "bill billr billr "
      "toby tobyr tobyr "
      "james jamesr jamesr ";
    width: 95%;
    margin: 30vh auto;
    padding: 15px;
  }

  .title{
    padding-bottom: 10px;
    font-size:large;
  }

  .description{
    font-size: medium;
    padding-bottom: 30px;
  }

  .title img{
    height: 30vw;
  }
}


