<section id="container">
  <div id="bill" class="title">
    <h2>Bill Davis</h2>
    <h3><span>Mobile Device Software Developer</span></h3>
    <img src="../../assets/images/bill.jpg">
  </div>
  <div id="billr" class="description">
    <p>
      I met Steven during GiveCamp 2018. I was project manager for our team,
      and he was assigned to us as a technical resource. For our project, on
      behalf of Rubber City Theatre, we were tasked with building a 'chat'
      style program that the theater would use for audience interaction during
      a performance. I was truly impressed with Steven. Despite still being a
      student, he was willing to dive in and do what needed to be done. He was an
      active participant suggesting approaches to our project at the beginning, then
      researched his ideas for feasibility. Then, once an approach was decided upon by
      the team, he jumped in and started coding. Most impressively, he wasn't willing to
      let the fact that he did not have any advanced training in what we were working in
      (Node.js backend with javascript and css frontend) keep him from contributing.
      Additionally, it was Steven who had knowledge of an excellent server hosting company
      that was perfect for the project. I was also pleased to see that when he became stuck
      on a problem, he was willing to reach out to one of the other team members for advice.
      I'm confident that Steven would make an excellent addition to any development team.
    </p>
  </div>
  <div id="toby" class="title">
    <h2>Toby MacKenzie</h2>
    <h3><span>Front End Web Developer</span></h3>
    <img src="../../assets/images/toby.jpg">
  </div>
  <div id="tobyr" class="description">
    <p>
      Steven and I worked together on a project at the 2018 Cleveland GiveCamp. Though new to
      the industry, he was motivated to contribute and willing to learn in a stack he hadn't
      worked with before. I could tell he's driven to help others through his work. I enjoyed
      working with him and helping him learn.
    </p>
  </div>
  <div id="james" class="title">
    <h2>James Gifford</h2>
    <h3><span>I help grow teams into the best software development team they can be.</span></h3>
    <img src="../../assets/images/james.jpg">
  </div>
  <div id="jamesr" class="description">
    <p>
      I had the pleasure of working with Steven at the 2018 Cleveland GiveCamp, where he was a
      key team member. I was extremely impressed by his attention to detail and the work he did
      as an individual contributor, and particularly his willingness to roll up his sleeves, pitch
      in and learn what he needed to learn to ensure the success of the project. I look forward to
      working with him in the future, and I am certain that he will be a great addition to any team
      that he is a part of!
    </p>
  </div>
</section>
