section{
  position: relative;
  margin: 10vh auto;
}
#container{
  display: grid;
  grid-template-columns:repeat(5, 1fr);
  grid-auto-rows: auto;
  grid-template-areas:
    ". bill billr billr ."
    ". toby tobyr tobyr ."
    ". james jamesr jamesr .";
  grid-row-gap: 80px;
  grid-column-gap: 20px;
}

.title{
  color: #984b43;
  position: relative;
  vertical-align: center;
  font-size: x-large;
  text-shadow: 1px 1px 1px #233237;
  font-weight: 500;
  padding-bottom: 50px;
}

.title span{
  color: #c6a867;
}

.title img{
  height: 12vw;
  border: 2.5px solid #233237;
}

.description{
  font-size: 1.5em;
  color: #ccc;
  text-shadow: 1px 1px 1px #233237;

}

#bill{
  grid-area: bill;
}

#billr{
  grid-area: billr;
}

#toby{
  grid-area: toby;
}
#tobyr{
  grid-area: tobyr;
}

#james{
  grid-area: james;
}
#jamesr{
  grid-area: jamesr;
}

@media only screen and (max-width : 420px) {

  #container{
    grid-row-gap: 1px;
    grid-column-gap: 20px;
    grid-template-columns:repeat(3, 1fr);
    grid-template-areas:
      "bill billr billr "
      "toby tobyr tobyr "
      "james jamesr jamesr ";
    margin: 15vh auto;
    padding: 5px;
  }

  .title{
    padding-bottom: 10px;
    font-size:large;
  }

  .description{
    font-size: large;
    padding-bottom: 30px;
  }

  .title img{
    height: 30vw;
  }
}


