<section>
  <div class="container">
    <a id='home' [routerLink]="['/']" routerLinkActive="router-link-active" >Arch Dev</a>
    <div class='links'>
      <a id='reviews' class="hvr-push" [routerLink]="['/review']" routerLinkActive="router-link-active">They Said What!</a>
      <a id='about' class="hvr-push" [routerLink]="['/about']" routerLinkActive="router-link-active" >Who Am I</a>
      <a id='projects' class="hvr-push" [routerLink]="['/projects']" routerLinkActive="router-link-active" >My Creations</a>
      <a id='contact' class="hvr-push" [routerLink]="['/contact']" routerLinkActive="router-link-active" >Write Me</a>
    </div>
  </div>
</section>
