section {
  height: 20rem;
  width: 100%;
  position: relative;
}

.container {
  height: 100%;
  border-radius: 155rem / 30rem;
  border: solid .25rem #292828;
  background-image: url('../../assets/images/54446_forest_dark_forest.jpg');
  position: relative;
  top: -50%;
}

.container:before {
  content: " ";
  position: absolute;
  z-index: -1;
  top: 5px;
  left: 5px;
  right: 5px;
  bottom: -2rem;
  border-radius: 155rem / 30rem;
  border: outset 1.75rem #383535;
}

.nav {
  display: grid;
  height: 5rem;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  grid-template-areas: "review . . contact" ". . . ." ". projects about .";
  text-align: center;
  position: relative;
  font-size: 1.3rem;
  font-weight: 400;
  top: 63%;
}

.nav  a{
  color: #61aa61;
  text-shadow: 4px 4px 2px #000;
  text-decoration: none;
}

#home {
  font-size: 3rem;
  color: #123612;
  text-align: center;
  position: relative;
  bottom: -62%;
  margin: auto;
  left: 44%;
  text-decoration: none;
  text-shadow: 1px 1px 0px rgb(190, 188, 17);
  font-weight: 500;
}

  #reviews {
    grid-area: review;
    position: relative;
    bottom: -.8rem;
    transform: rotate(12deg);
  }

#projects {
  grid-area: projects;
  position: relative;
  text-align: center;
  bottom: -.8rem;
  transform: rotate(2.5deg);
}

#contact {
  grid-area: contact;
  position: relative;
  text-align: center;
  bottom: -.8rem;
  transform: rotate(-12deg);
}

#about {
  grid-area: about;
  position: relative;
  text-align: center;
  transform: rotate(-2.5deg);
  bottom: -.7rem;
}


@media only screen and (max-width : 700px) {

  section {
    height: 20rem;
    width: 100%;
    position: relative;
  }

  .container:before {
    content: " ";
    position: absolute;
    top: 5px;
    left: 5px;
    right: 5px;
    bottom: -2rem;
    border-radius: 155rem / 50rem;
    border: outset 1.75rem #383535;
  }

  .nav  a{
    font-size: small;
    color: #61aa61;
    text-shadow: 4px 4px 2px #000;
    text-decoration: none;
  }

  #home {
    font-size: 3rem;
    color: #123612;
    text-align: center;
    position: relative;
    bottom: -62%;
    margin: auto;
    left: 30%;
    text-decoration: none;
    text-shadow: 1px 1px 0px rgb(190, 188, 17);
    font-weight: 500;
  }

  #reviews {
    grid-area: review;
    position: relative;
    bottom: -3.2rem;
    transform: rotate(12deg);
  }

  #reviews span {
    display: none;
  }
  #reviews:after {
    font-family: FontAwesome;
    font-size: 30px;
    display: inline-block;
    content: '\f005';  }

  #projects {
    grid-area: projects;
    position: relative;
    text-align: center;
    bottom: -.8rem;
    transform: rotate(2.5deg);
  }

  #projects span {
    display: none;
  }
  #projects:after {
    font-family: FontAwesome;
    font-size: 30px;
    display: inline-block;
    content: '\f00b';  }

  #contact {
    grid-area: contact;
    position: relative;
    text-align: center;
    bottom: -3.2rem;
    transform: rotate(-12deg);
  }

  #contact span {
    display: none;
  }
  #contact:after {
    font-family: FontAwesome;
    font-size: 30px;
    display: inline-block;
    content: '\f0e0';
  }

  #about {
    grid-area: about;
    position: relative;
    text-align: center;
    transform: rotate(-2.5deg);
    bottom: -.7rem;
  }

  #about span {
    display: none;
  }
  #about:after {
    font-family: FontAwesome;
    font-size: 30px;
    display: inline-block;
    content: '\f007';
  }

}
@media only screen and (max-width : 1600px) {

  #contact {
    grid-area: contact;
    position: relative;
    text-align: center;
    bottom: -1.5rem;
    transform: rotate(-12deg);
  }


  #reviews {
    grid-area: review;
    position: relative;
    bottom: -1.5rem;
    transform: rotate(12deg);
  }
}

@media only screen and (max-width : 1220px) {

  #contact {
    grid-area: contact;
    position: relative;
    text-align: center;
    bottom: -2.5rem;
    transform: rotate(-12deg);
  }


  #reviews {
    grid-area: review;
    position: relative;
    bottom: -2.5rem;
    transform: rotate(12deg);
  }
}

