.container {
  position: relative;
  height: 12vw;
  margin:auto auto 5vw auto;
  border-radius: 155rem / 30rem;
  background-image: url('../../assets/images/54446_forest_dark_forest.jpg');
}

.container:before {
  content: " ";
  position: absolute;
  z-index: -1;
  top: 5px;
  left: 5px;
  right: 5px;
  bottom: -2rem;
  border-radius: 155rem / 30rem;
  border: solid 1.75rem #233237;
}
nav {
  position: relative;
  margin:auto;
  top:3.2vw;
  text-align: center;
}

.nav {
  position: relative;
  width:80%;
  margin: auto;
  font-size: 1.5vw;
  text-align: center;
  font-weight: bold;
}

.nav  a{
  position: relative;
  padding:1vw;
  margin: 4vw;
  top:.25vw;
  color: #984b43;
  text-decoration: none;
  text-shadow: 1px 1px 1px #000;
  font-weight: bold;

}

#home {
  font-size: 3vw;
  color: #18121e;
  text-decoration: none;
  text-shadow: 1px 1px 1px #eac67a;
  font-weight: 500;
}

#Lside{
  top:-.15vw;
  transform: rotate(4.5deg);
}

#Rside{
  top:-.25vw;
  transform: rotate(-4.5deg);
}

@media only screen and (max-width : 1415px) {
  .nav {
    font-size: 1.75vw;
  }

  .nav  a{
    margin: 2vw;
    top:1.5vw;
  }

  #home {
    font-size: 6vw;
  }

  #Lside{
    top:1vw;
    transform: rotate(3.5deg);
  }

  #Rside{
    top:1vw;
    transform: rotate(-3.5deg);
  }

}

@media only screen and (max-width : 900px) {
  .container{
    height:15vw;
  }

  .container:before{
    border: outset 5.5rem #383535;

  }

  #home {
    font-size: 6vw;
  }

  .nav span{
    display: none
  }

  .nav  a{
    margin: 6vw;
    top:-1.4vw;
  }

  #Lside{
    top:-2.6vw;
  }

  #Lside:after{
    font-family: FontAwesome, serif;
    font-size: 40px;
    display: inline-block;
    content: '\f007';
  }

  #Rside{
    top:-2.9vw;
  }

  #Rside:after{
    font-family: FontAwesome, serif;
    font-size: 40px;
    display: inline-block;
    content: '\f0e0';
  }

  #about:after{
    font-family: FontAwesome, serif;
    font-size: 40px;
    display: inline-block;
    content: '\f00b';
  }

  #project:after{
    font-family: FontAwesome, serif;
    font-size: 40px;
    display: inline-block;
    content: '\f005';
  }

}
@media only screen and (max-width : 717px) {

  .container{
    height:25vw;
    margin:2vw;
  }

  #home {
    font-size: 18vw;
  }

  .nav  a {
    top:3.5vw;
    margin: 3.25vw;
  }

  #Lside{
    top:1.5vw;
  }

  #Rside{
    top:1.5vw;
  }

  #Lside:after{
    font-size: 40px;

  }

  #Rside:after{
    font-size: 40px;
  }

  #about:after{
    font-size: 40px;
  }

  #project:after{
    font-size: 40px;
  }
}
@media only screen and (max-width : 330px) {

  #Lside:after{
    font-size: 35px;

  }

  #Rside:after{
    font-size: 35px;
  }

  #about:after{
    font-size: 35px;
  }

  #project:after{
    font-size: 35px;
  }
}
