<section class="container">
  <nav id="main">
    <a id="home" class="hvr-push nav-item" [routerLink]="['/']" routerLinkActive="router-link-active" >Arch Dev</a>
  </nav>
    <nav class="nav">
      <a id="Lside" class="hvr-push nav-item" [routerLink]="['/about']" routerLinkActive="router-link-active"><span>Who am I ?</span></a>
      <a id="about" class="hvr-push nav-item middle" [routerLink]="['/projects']" routerLinkActive="router-link-active" ><span>It's alive !</span></a>
      <a id="project" class="hvr-push nav-item middle" [routerLink]="['/review']" routerLinkActive="router-link-active" ><span>They said what !</span></a>
      <a id="Rside" class="hvr-push nav-item side" [routerLink]="['/contact']" routerLinkActive="router-link-active" ><span>Write me !</span></a>
    </nav>
</section>


