<main class="main">
  <section class="info1">
    <h2>Background</h2>
    <p>
      I was born an army brat and with a servants attitude. As soon as I could I joined the US Army Infantry.
      During my last deployment I was injured and subsequently honorably separated from service earning several medals to
      include a <a href="https://en.wikipedia.org/wiki/Bronze_Star_Medal"> Bronze Star with Valor</a> and
      a <a href="https://en.wikipedia.org/wiki/Purple_Heart"> Purple Heart</a>.
    </p>
    <p>
      I used what I had learned in the service and took it a step further to become a paramedic. While serving my community
      I was asked to maintain the current website for the union I belonged to, as well as build another website for a
      community event. I had always had an interest in development but after doing this I knew it would be my future.
      Following my interests to become a developer became my primary focus.
    </p>
    <p>
      I put in my notice, sold my house, and moved my family to Ohio to attend
      <a href="https://www.techelevator.com/">Tech Elevator</a> and start my future. I completed the Tech
      Elevator bootcamp in August 2018. Since then, I have continued learning new languages and technologies,
      and been doing volunteer work on an app for the<a href="https://www.huejackson.org/"> Hue Jackson Foundation</a>
      in partnership with a company called <a href="https://www.ifusesolutions.net/">iFuse Solutions</a>. I'm now
      looking forward to starting my new career with an employer where I can make a meaningful impact that
      utilizes my passion for service, technology, and the new technical skills I've acquired.
    </p>
  </section>
  <section id="images">
    <figure class="figure1">
      <img
        class="figure-img"
        src="../../assets/images/sgt.png"
        alt="Dedicated soldier picture"
      />
    </figure>
    <figure class="figure1">
      <img
        class="figure-img"
        src="../../assets/images/medic.jpg"
        alt="paramedic with a child in ambulance"
      />
    </figure>
  <figure class="figure1">
    <img
      class="figure-img"
      src="../../assets/images/smile.png"
      alt="goofy developer"
    />
  </figure>
  </section>
</main>
