h2{
  color: #61aa61;
  text-shadow: 1px 1px 1px #000;

}

p{
  color: #61aa61;
  text-shadow: 1px 1px 1px #000;

}

a{
  color: cyan;
  text-decoration: none;
}

.info1 {
  padding: 0 2.5rem 0 2.5rem;
}
.figure1 img{
  width:15rem;
}
