main{
  margin: 19vh auto;

}

#images{
  display: flex;
  justify-content: space-evenly;
  margin: auto;
}

h2{
  color: #984b43;
  text-shadow: 1px 1px 1px #233237;
  font-size: 2.5em;

}

p{
  color: #ccc;
  text-shadow: 1px 1px 1px #233237;
  font-size: 1.75em;

}

a{
  color: #c6a867;
  text-decoration: none;
}

.info1 {
  padding: 0 2.5rem 0 2.5rem;
}
.figure1 img{
  width:15rem;
  border:2px solid #c6a867 ;
}

@media only screen and (max-width: 720px){

}
@media only screen and (max-width: 537px){
  #images{
    display: inline-block;
  }

}
