main{
  margin-top: 23vh;
}

h2{
  color: #984b43;
  text-shadow: 1px 1px 1px #233237;

}

p{
  color: #ccc;
  text-shadow: 1px 1px 1px #233237;
  font-size: x-large;

}

a{
  color: #c6a867;
  text-decoration: none;
}

.info1 {
  padding: 0 2.5rem 0 2.5rem;
}
.figure1 img{
  width:15rem;
}


