<header>
  <section class="leading">
    <p class="leading-text">Here is a collection of projects I have finished or that I am currently working on.</p>
  </section>
</header>
<main>
    <section class="cards">
    <article>
      <img class="article-img" src="http://placekitten.com/305/205" alt=" " />
      <h1 class="article-title">
        Hope Just Found
      </h1>
    </article>
    <article>
      <img class="article-img" src="http://placekitten.com/320/220" alt=" " />
      <h1 class="article-title">
        Door To Door Sales App
      </h1>
    </article>
    <article>
      <img class="article-img" src="http://placekitten.com/330/240" alt=" " />
      <h1 class="article-title">
        BlackJack
      </h1>
    </article>
  </section>
</main>
